.tab-panel-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1ch;
}

.button-group-hr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3ch;
}

.button-group-qm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3ch;
}

.card-hr {
  background: beige;
  text-align: center;
  justify-content: center;
  width: 35ch;
  height: 25ch;
}

.card-qm {
  background: beige;
  text-align: center;
  justify-content: center;
  width: 30ch;
  height: 25ch;
}
